<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background1.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px black;
        }
        .cont {
            position:relative;
            left:600px;
            top:50px;
            color: white;
        }
        .alert {
        padding: 20px;
        background-color: #f44336; 
        color: white;
        margin-bottom: 15px;
        }

        .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
        }

        .closebtn:hover {
        color: black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <% if (successMessage) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Account created succesfully.
          </div>
    <% } %>
    <div class="cont">
        <form method="POST">
            Username:<br>
            <input type="text" name="username" pattern="^[a-zA-Z1-9].*">
            <br>
            Password:<br>
            <input type="password" name="password" pattern="^[a-zA-Z1-9].*">
            <br><br>
            <input type="submit" value="Login">
        </form>
        <br>
        <a href="registration">I dont have an account</a>
    </div>
    
</body>
</html>